@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700|EB+Garamond);

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-width: 260px;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #000;
    background-color: #fff;
}

h1, h2, h3 {
    letter-spacing: 1px;
}

@media(min-width:0px) and (max-width:992px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    span {
        font-size: 14px;
    }
}


@media(min-width:993px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 45px;
    }
    h3 {
        font-size: 30px;
    }
    p {
        font-size: 15px;
    }
    span {
        font-size: 15px;
    }

}

/* BEGIN NAVBAR */

.navbar-fixed {
    position: absolute;
}

nav {
    background-color: rgba(255, 255, 255, 0.95);
}

nav li a {
    color: #34495e;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-wrapper {
    position: relative;
}

.brand-logo {
    height: 100%;
}

.nav-logo {
    height: 100%;
    padding: 14px 12px 12px 12px;
}

.button-collapse {
    padding-left: 10px;
}

nav .material-icons {
    color: #34495e;
}

/* END NAVBAR */

/* BEGIN INTRO SECTION */

.intro {
    height: 100%;
    min-height: 500px;
    position: relative;
    text-align: center;
    color: #fff;
    background: url(../img/rally.png) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-headline {
    position: absolute;
    width: 100%;
    padding: 0 10px 0 10px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.intro .btn-large {
    background-color: rgba(255, 255, 255, 0.2);
}

.intro .material-icons {
    margin-top: 3px;
    font-size: 30px;
}

.intro-banner {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #34495e;
}

.intro-banner-text {
    color: #FFF;
    display: inline-block;
    padding-right: 10px;
    margin-top: 10px;
}

.intro-banner-btn {
    height: 46px;
    margin: 12px 0 12px 0;
    font-weight: bold;
}

@media(min-width:993px) {
    .intro-banner-text {
        font-size: 20px;
    }

    .intro-banner-btn {
        margin: 25px 0 25px 0;
    }
}

/* END INTRO SECTION */

/* BEGIN ABOUT SECTION */

.about {
    width: 100%;
    padding: 90px 0 60px 0;
}

.about-container {
    margin: auto;
    max-width: 900px;
    text-align: center;
}

.about-headline {
    width: 100%;
    padding-bottom: 40px;
}

.about-headline h3 {
    margin: 0;
}

.about-text {
    margin-bottom: 25px;
}

.about-graph {
    margin: auto;
}

.about-graph-title {
    font-size: 12px;
    margin-left: 20px;
    font-weight: bold;
}

/* END ABOUT SECTION */

/* START ISSUES SECTION */

.issues {
    width: 100%;
    padding: 50px 0 50px 0;
    background-color: #34495e;
}

.issues-container {
    width: auto;
    margin: auto;
    max-width: 1200px;
    background-color: #34495e;
    color: #ffffff;
    padding: 50px;
    text-align: center;
}

.issue-container {
    margin: 25px 0 25px 0;
}

.issue-icon {
    height: 55px;
}

.issue-title {
    margin: 0;
    padding: 0 0 10px 0;
}

/* END ISSUES SECTION */

/* START FOOTER */

.footer-container {
    padding: 20px 40px 20px 40px;
    text-align: center;
}

/* END FOOTER */

